.cont{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.MesLeave
{
  width: 600px;
  height: 450px;
  background-color:#ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gainsboro;
  padding-top: 20px;
  padding-left: 20px;
  overflow-y:scroll;

}
