<app-nav-bar-menu-leave></app-nav-bar-menu-leave>
<div class="cont">
  <div class="MesLeave"><table class="table">
    <thead class="thead-dark">
      <tr >
        <th scope="col">#</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">User Id</th>
        <th scope="col">Reason</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaves">
        <th scope="row">{{ item.requestId }}</th>
        <td>{{ item.startDate }}</td>
        <td>{{ item.endDate }}</td>
        <td>{{ item.user.id }}</td>
        <td>{{ item.reason }}</td>
        <td id="status" style="color: orange;">{{ item.status }}</td>
      </tr>
    </tbody>
  </table></div>
</div>
