<div class="reset-password-container">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
        <div *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)">
          <small *ngIf="resetForm.get('newPassword')?.errors?.['required']" class="text-danger">Password is required.</small>
          <small *ngIf="resetForm.get('newPassword')?.errors?.['minlength']" class="text-danger">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" />
        <div *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
          <small *ngIf="resetForm.get('confirmPassword')?.errors?.['required']" class="text-danger">Confirm Password is required.</small>
          <small *ngIf="resetForm.errors?.['mismatch']" class="text-danger">Passwords do not match.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
  </div>
  