<app-nav-bar-menu></app-nav-bar-menu>
<div class="cont">
  <div class="complaints">
    <h3>Wimbee</h3>
    <div class="div"><p><span>Complaint Form</span><br>
      Please fill out the following form with your complaint. We will review <br> your request and follow <br> up with you as soon as possible.</p></div>
    <form>
      <div class="form">
        <div>
          <label for="Complaints Title">Complaints Title</label><br>
          <input type="text" class="title" [(ngModel)]="complaints.title" [ngModelOptions]="{standalone: true}" placeholder="Complaints Title...">
        </div>
          <div>
            <label for="Description">description</label>
            <textarea class="reason" [(ngModel)]="complaints.description"  cols="60" rows="4" placeholder="Description..." [ngModelOptions]="{standalone: true}"></textarea><br><div class="Apply"><button (click)="sent()" class="sent">Sent</button></div>
          </div>
          </div>
    </form>
  </div>
</div>
