.update-holiday-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 1rem;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
  
      input, select, .mat-input-element {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
  
        &.invalid {
          border-color: red;
        }
      }
  
      .date-picker-container {
        position: relative;
  
        input {
          width: calc(100% - 40px); /* Adjust to make space for the icon */
          padding-right: 40px; /* Add padding to the right */
        }
  
        .datepicker-icon {
          position: absolute;
          top: 50%;
          right: 10px; /* Adjust to position the icon inside the input */
          transform: translateY(-50%);
        }
      }
  
      .error-message {
        color: red;
        font-size: 0.875rem;
      }
    }
  
    .form-actions {
      display: flex;
      justify-content: space-between;
  
      .btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &.btn-cancel {
          background-color: #f44336;
          color: white;
        }
  
        &.btn-save {
          background: #28a745;
          color: white;
  
          &:disabled {
            background: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }
  }
  