.navbar{
  position: fixed;
  width: 100%;
  background-color: orange;
  height: 40px;
  font-size: 19px;
  font-weight: 700;
  font-family: 'Nunito';
  position: relative;
}
.navContent{
  position: absolute;
  margin-left: 130px;
  margin-top: 0px;
}
.navBarMenu{
  //position: fixed;
  width: 100%;
  height: 50px;
  background-color:#fdfdf9;
  display: flex;
}
.wimbeeLogo img
{height: 40px;
  width:80px;
  margin-top: 22px;
//background-image:"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaAAAAB5CAMAAABIrgU4AAAAn1BMVEX///8AGjgAAC0AACcAACEAACoAACMAGDcAAACOk50AAB2Bh5IADzKjqLCan6gAACsAFDTMz9Pt7/HT1tq0uL5NV2dcZXS4vMIAABsrOVDZ3N/g4uUAACUAETMAAA8ACC8AABdGUGLq7O48RlkAADB/hZBmbXsyP1PEx8yrr7YeL0lzeoaJj5kAAA2TmaIVJ0JtdIFWX28mNU0cLEYKIT8Vw4xgAAATeUlEQVR4nO1dZ3fquhI17jgEg4FAKMFACJBC6v//bc8Fq8yMZJl7b7LWW95fTg6WbEtbmqaRbFktWrRo0aJFixYtWrRo0aJFixYtWrRo0aJFi3+C5HTz0h0qrk3P+5eb09bwVvN+Vvp2pLg6vH29kfHa7d+ejvNEe9PF6XyjxHmOym/Hffgcju7RqCHJYm7aZvHJ8/lC3xYa8+NQ87Sz69h2HB0WxLWPaBnbse2knybPXWxmXlbai37GxNW953qxLSOOY8/x3ej96ZZ6fI7j/cyB1cQ7pJ/oJZa68tGhvufPz5HrRoObJhxtzwc3R/R4N21QzbLGm8j1/ajzqujiJzfo5OhFaOAv1nHngrWrmhbCk2a9S+nB7AVenDtx0FEiWHvRc5+6aTcdqKsViHdi+Wnaqym/tmvacXK84pmD2CVficRL5K2qtvjBybje/NnvFR0z8JYksX23evEBevHVijdr4GJZImOcCgxEoGmJU9fPnYFj43Yd07pqnY4rVNvONMPgAu9G246PiN/Cfapp9AUjPpTLzpqY1cs6jfdxkFK8+vxtYvDie096aKB/1Hwm95o8YV+kBigQuJ/wrodVfbW1UOvFri8/eNe148UXy/pIFFCYomluvxvpoqk8/lI8CU6O0D9r6VLiy4Mx1r/rj/yO3lm6atcP7KLWRr7pNjKo1BMq6eSoop0y4JRNDYyKYYqf2tOOAtY8ueLqgIq8rIXrkaSox0vwTIJfjhtPLiwP02TWMYMjj4KjX1+ls/4QWmxQfnCvaQcYZ53BQFP40jiPGhW2gZTbQX0ZoeEwEYv4kq0tcZejt4G1ObZIV0SiCZRIHRcMCgRUu1LJGLn1iCKaKkMTQt1bdTum6AZLTekSn7Cj6h9T4ujCOsJYu0BD0D1S65HCWcrwhF7SFweDRFDwXuKn57hLKPt60sA716uuQfoqNBnOeozAR4pOwB1qx+CnrpsVszbw69QQmkDEwzQErdEA7ylnLRSmGTxxAEkEuVySbo83NhAQM3HmvUo638dwZ5LPNZUIcogKUaw1nQlpVedgfKnsUxtNB9BphIW6hKSqCUqW+F1nKi30gWe5/SreTCJIbvFZnuiOaGveiATZIwKyfzt2xDtNa8tDJMRsiF+1VbCcYkj1jq5ooLG+gVXUBG2JB2MRqW6XVFZHkHWULAhbNPYlgmJtcwtIBLl6MihQjSZMKxEbtWNs1zhchO5yzWfQgnjXIKLFapepCj7r1qKPpyVIpmF9p7ryRwQFkbaGxm4M9DELSjY65gTN+bsG7E7x2aLANT23zKSO1hO0FU0nyVb8bYIoUaBXQn2dnUkHbyq4WIc0MRI4QYPdpmKI9gq4xxTv2bRtQJD1LYyl1V8SRFhGwNyBUJoIOdRWlUW7BL07WMqMIN5unxoTLB4zOBxZySYETYSATk+0gn+dIGxmA2ENsNV64CqVUICaex4yMY0IOliM7BXhrI5Y7zsn7og0IehTeIs/NRJIz3jw3ay8AEcT1qbGAjF2TQi6F2KQKW41t0ZcwRFpQtBOkBNL0a/5dYIo0wibVhwT/eJGT+MUw6BShsDTP0BNEJ8k9h7dg0X4M8v6OoIeBckv9cavE2StCCXkqwOmdZELX1kzIYYCobMMCeJxnwB1E5el0eg6gsSQqOx+/z5BlOBR2K6WQexPzS0VByaiHKYEca93CcXqOzPxvqzrCHrmkz2Qve/fJ4hSKti2qtCtixXayjAEFWb0sUFvSpDlBOL/BPBQR64RryHoU2ABLDL/PkFzylVVOpxoPREKSPXSxiehvVxczJggvvgAchfYHQLHuoag47NAggPGqhxjGCNMAQcSQXEfV6hbt6eXFiNFUC2BvubgHtZGwbUKPWKRjzCRjQniK9pyQG7Bur5YcTUhiE3k7Wi8//EFY8aFskQiqOMgLNOJZGFJBHViXH52Xzet7oiRrYoIQD0S2FMYAF1SCU4WHSKidJ0xQdaBdaRsZzFRWoS6TQjqrIsEKM93XccW1M96hl7wpjbFIO6I5cdEgFjGqk7wUUpIpUlewetlHiOUkKr48pSw/3xivc2coBO7o+TusiSAMuhrRFAnCPKYnTTHV87sDnddPUFyqkQ9QZ3eDj1FwogyfxVryXBNM3OyN0ArqfTXK2EjOEQ5c4I4FWK6AaetnMtmBGGsJqQoMCBIcu4MCOrMaqYQoYQIB5JsVWZU92HHR/TjJjhdaUUNnQYE7Vlnudy4Z2bMpQ3XEpTZ6B+EoDcgqDMTJK4JQZQgEUGaV6RxAcVUkAl/NAEVoVYiKht3iXINCOJmAg9goAjD1QTlCZk28tNMZpAoGP6NGUQFMemY2h68XSHlYeIXHe2hQkqkU9uAIGvHZiXzJnkY7tJsI4JYVg9oS+B0gIv0X+gg/QIprYRiHOCy5FWSolRuS8AJiEMvqhclFwabEMT1TTUZeb9X8tOEoCqrp/PoRr4jzfUByH6tJ8iWVqjqCeopdIIAQgmR/iZafi2mAJqALiVSiYaRKqgRQTzlpcrN5C9TmftGfhAX6Mno9OSJLQL5ybV+0OyzoR9EbuLQ9EnVPqIczOws18bRBCQjeTtsI9C2fCOCuMy9rNuxMBxTBNeEes6RKCqkzKHaSALw0+siCTDyQIJSQtSyN8zsvEwBmLlFzgxTFdSMoAWQaDwMx1bZrgqWzsXlhpUoTX4/FmfRSoiyxeDKxEXww3h4QCwnERE/RZ5jI4KEiRnNpcpMsF+3HjSULgvm9p8QZFFJZHjZe4G8oLL7UCiCmBpESpwirNqMIC51c6saTqgc1xEkjTpRJPwNQYQSIhKAYSdX3iyaHcQaJ8p7VybRNSNIMBN8sfd4RPBKgiSXL+Vz/W8IopZqZkgAwXR0Fg+CPujgGT3hgJe7l/TSXkOCeIdlrhtni0dCriRI8tuE2PHfEDQ0UuEDqIIqaw1tJJihJQciJU6RANSQIC7VxFwsYXZeSZDkUgjB2L8hiEqhR8aySgURCsaBccYRXu5Wrew1JEjIRB7wvhN8v3+DIEFm/xFBRL41ithgW6C6gqhDSw7EkgahqAo0JQhtu+vIwfh/Q8T9PUGEEgrgFl24sCdk5KBdeh1QF++mUq4JNiWIisKK2aZXEiQ7mNyl/iOCqGQduOwNA0KCYEbbFmB4CQbxOpQRUqIxQXARMRtbK+HylQRJQ8rhTuEfEUQ5+mCII2NaaBWKCAI3F27PzjtRtY+vMUELlIwsbXC6jqCFtEFPuP5XBBFKCITKYDxIDFqjhG2gwIiUuLVqC31jgvC7p+LkvIqgRJry4gLPXxHUnXkQvrxMsfHBZTEpdO2AyqlU94zvnipyS64gCG75k4Mg1xB07EicizaPvAVySEE+OkAkyBuPiPL1iVcZFuc+gmxnwwJnse+mqK6kwNDlrIAq/bs5QXBHjLxA2XS5YXF8fXfBDYUulJcbiD3Bvp/eC+Vl6U9tIvajTrOzjv4YVxA0labQWk5lM1qw661z2HbsuO4yBhaNVI/KfYFYCeckUMlMEIMH86OO/h5XECTlu8JYuoIgS1KLQQWq+zzxhkYHWQhZRkYHWdQfYJCNqP4thuZyXzbC56iuINan+M7qowGkQ44kc11NkGhzzYByUxGET8VQdF4qLRAbHQUjJCObHTmD8v8J2EukyEPePacUXpM5H4Xgupgz+41u7avzJMTIgHyelbTDDlRihwfN4DKtQJBkPBDxdQoDcFhNYkSQ4KIQu6Iw1NtJOPTOPryKugi6scIBTkSbyISrC4QsIUcuxu6Ds1fHs3gQBIM4ReuMC3Z6hnzclea4B6EVcQ9a4IpzcGQIkeauiUzEO0ExiCU1ISYM+x8ddoG2GfHMOkIMa3aIWScmFFYgYvRRSb8Ue/7Jzf3a/toTmfuHSqmBYzae6w9+W0fYW5sTJ31BBOKuDae+PLWNEwFFPMWVRBRGQD2MlCcfFETKA7HthGN/2cG4tsFrJ3bZ167RmXa8YYWQCVIwShe+di4Ea8f9oPqtX8+QNI+PtUdoGh7Sh5OveJo16n6U9IMo5LFULDxrzjI5rX0vpo6N3R6i2HaQmqnB/N2N7SU+i2s7SX0npuA5frS+OylMq5Pnk7UqODN5KAwD19OV91KzAUcoISamYCSbSNxBQWU2S7CarDkNKBt1/e6JnPXD881t82OGj90bsreT4+ncxTj3T0ftqUNTqhYDflTWHA2UxwsDEBY+SwB+pPN5RCB+Kx+G2DysU0EtVCCyp6uIJlZBOHkUGRkVidhzoPKyWtQD71HMd0nnQGqe2GyPjIxKDOLFQGSjtzACsSE/La/AtKwVdSQPUjWX+AXeYllzalkLBQgldBFlMKeEdHzRsupF0+AAlyLhqkUN5tgTKp0ZlBpMbglDy6rlRCE2D6tWu1vUAHtCZfgKaRFqbyleVi3zF3G8nchrbGEErC2CIm4O9wkrToV7h/wWaSd4AUWVcNWiDkRMpkj/hFNDEdpD8eEiQRrnfeuPZWyhBrFHJFf0KNipODITCbMi6IyN99YLuhr4YOrcXoNCSvUpCLRDMs99xO6v7rjAFnrgDfm5uoEHKCkP7XuGnlC0IDJza75Z0kIDrISy2YKyDpVnzsJd+nlJvHm4VUHXg9gL6W5RLE355SukhHp3xOZhvDelhTGwJ7Q8wtxn9WFy6PSOrCjaGKT/2lQLPbBNbHd3ujQxGWgfnXdCQlOZ89vCAIQS+oK/aI49RwoneEZTEm3uatEAhBLCbox6AZBY+kH3qz/4pIUG9Vlfge4TasRWVFi992tt+b9EzbnlHf13A0yq13wEqoUe6Hg+BN3h/waZy6ojTVuYgToVRobWjan9KGWbjvBPQX6BU0BNShtxqJVcveYA1RZ1oL4UIKImi1j7+af66la5FWIszNLTZT/EJUDEdk0kwv6K4Xl/lpbRed7diInUUXaTk+J00OPlIRfxPaw8iX71tPya8ITxpXx183xzx4kHWPLbnfjtrKEg14/n/pRJkS29V0QH6tgBETXna9bttqj5DGGGzftk8hzytJLH+0mOzaXPu9W+0A+2C3n0Hm4+Jm+xEOP7YkkT5y/2l3s43KfhCyVjnzrFQyYXHzwJy5Sx7qxqVnjY7dKYLbM8f5UvVTndp3SzO4S76tb7rHR0vztUxzXcMLmx7fh3T19hRdgxLJ+7M9oGWUJvaNeKKOqEWg7dp4Mv2OR9OwzZcH0EVoVd9v08rHprGpYrtP2Qp7LsWBf0mUg+F68+2lGO2BNY5B0XO28W7C2SMB9YL2zPzTOwlE75PpnkXuwcYe+O9cqa/VzYwGyMDB/wu9SByAAWUGuE6Tc4Gdhwm2LwTliPPYK+mJa9tKkCTouQCRLO6uHm4fI3JCibekRGxROMP03ywju2rpKU3f1TCehnEE05rcpXESaC+DcjaAG2VV1D0FBniGk/217iXZPLX/OVyAIlQXdKgqxD7kkdw0pWTnho8JUdYHG4HV46CBNk/RB5y5CgJKN9zHvzQtBHVYwmyBI/VE8StA1lWXYNQdq9gV79TrCTZgo5BvuUSoIiNtWgiLNGeSO/KzMgkUZtZQMc+pnEKygkCDrhWAgiyLpNtzM+NC4EHarmIxG3KksJuQAkQdad/E3EqwhSfarbbAIR66rNqm9eFvPhhucN9brl2QK8xN3GGqfsbVOh7n01ADKCrJfiK9QEQVDOZHi6gw+xdragL0sdNGV65etVLl9y/iSGsWiCrP7bY5c/fpgSRyvUQv2p4cgkDDAkvtjdoPpkPVhFHpcVP/k3STLwEtvwGLMRPBU1yqYa4TlB1l2+QY8gaBsiU/LDKR4iXui+iXuo3177/c+QCYBD+VJp9f+x3e+f7x/EZBoFQdkbb0LmBQzd4j5vmh2hBJThgFi9EiTiReEL2ZoPEHIUnTzqMTsbibis75Z8l/fwTbjwXfVpQZC1O5AEzYkZhETcIty/cbqSdDOZ7Hn/Qx009j4nmwfJFVMSlKv5iqFhCp9rhFuaoZ5pRuiBNAR7quOTZJQ6aMEGM0GQ9SYIcm66CfqoJMh6/6QI6uMXwQTdf1g73q0JmHTISMjN7I0UZNEQlJk4lz+u0kEZ9lREbv1jHEb7Jhjqrc285ZIgbhAhKy6DOFZf+Gx6Yj10ISjxXk+YoCU2VRBBt2kuCtmjk1DWEqQVJ5S39AQxIXstQdYN2igb+E2iaDsUj/C+DaMZ1QyqeoSaQSJBCduJ3ee9eCHI2mYefvVbRdCGSIqABCVFX58fEvZ/A4J44CGHjqBTxcvVBFlT25MO5PKIYadDdybln6xT43zsgqDhgJlxds0MshbRIbem5p+CsKsIsuYPMkGLW+ebEASQoElZ67lSumYEWQNhsYsk6OYj//U2/Ic6qMC543rr3mq16tlO9KM8nEqF7T7243VefR37/pN5rGmXRrO3N95hcfqQ4y0VyoSSM5F8hOnKDT+FKfrN/LUpj8WFb29hGJAD7emteMjDhYfT5d9RFTGCBL2Xxd8qXXIqjUwhliH5RPtKzh4P4cwO35gVdwwvz71qS9uo/zLZ7Taf+1ODUJ6A4fkjr3/3Om3C7mI+n0sn9FQQf4M3HB6H0k9zThaTkNv8Joo3WcgPYS/AnjrSlrcSWFGuseU/b49HwdtKqvu0uYItWrRo0aJFixYtWrRo0aJFixYtWrRoQeF/Bciq+yP83HgAAAAASUVORK5CYII=";
}
.btn1
{
  background-color: orange;
  width: 35px;
  height: 30px;
  margin-top: 8px;
  border-radius: 10px;
  margin-left: 100px;
  border: none;
  display: flex;
align-items: center;
justify-content: center;
}
.back
{
  background-color: orange;
  width: 35px;
  height: 30px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
margin-left: 5px;
}
.btn1 img{
  width: 18px;
}
.line{
  width: 1px;
  height: 35px;
  border: 0.3px solid rgb(223, 223, 223);
  margin-left: 5px;
  margin-top: 6px;
}

.btn-logout{
margin-left: 550px;
border-radius: 20px 0 0 20px;
background-color:orange;
height: 30px;
width: 100px;
border: none;
margin-top: 10px;

}
.btn{
  height: 30px;
  background-color:orange;
  border-radius:0 20px 20px 0;
  margin-top: 10px;
  border-right: 0px;
  border-top:0 ;
  border-bottom: 0;
  color: #000;
  width: 40px;
}
.btn-logout img
{
width: 20%;
}
.box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.bt-info
{

background-color: #e8eef0;
width: 80px;
margin-left: 8px;
height: 30px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
}
.bt-info:hover
{
background-color: orange;
}
a
{
  color: #000;
  text-decoration: none;
}
.sidebar
{
  position: fixed;
  background-color: #ffffff;
  width: 60px;
  height: 400px;
  border-radius:0 40px 40px 0 ;
  position:absolute;
  padding: 0;
  margin: 0;
  margin-top: -80px;
}
.body{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #d1dddf;
  height: 903px;

}
.child{
  margin-bottom: 0;
  margin-top: 0px;
  width: 300px;
  margin-left: 20px;
  height: 400px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
}
.icon-setting
{
  float: right;
}
hr{
  margin:7px 0 0 0;
}
.no{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media only screen and (min-width: 1400px) {
  .body{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #d1dddf;
    height: 1303px;

  }
  .child{
    margin-bottom: 0;
    width: 400px;
    margin-left: 20px;
    height: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
  }
}
.activebutton{
  background-color: red;
  width: 500px;
}
p svg{
  margin-left: 10px;
}
