<app-sidebar></app-sidebar>
<div class="containe">
  <nav class="navbar">
    <span class="navContent"> Employee Management</span>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <p>WIMBEE ESPAGNE, S.L.U © 2005 - 2024, Inc. All rights reserved.</p>
  <div class="social-icons">
    <a href="https://www.linkedin.com/company/wimbeetech/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/wimbeetech" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://x.com/wimbeetech1" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/wimbeetech/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
